#mobilenav {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999999;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.6s ease-in-out 0s;
    -webkit-transform: translate(-110%, 0px);
    -moz-transform: translate(-110%, 0px);
    -ms-transform: translate(-110%, 0px);
    -o-transform: translate(-110%, 0px);
    transform: translate(-110%, 0px);
}

#mobilenav.opened {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    transform: translate(0, 0px);
}

.mobilenav__inner {
    background: #fff;
    max-width: 84%;
    position: relative;
    height: 100%;
}

.mobilenav__inner .menu-top-menu-container {
    height: calc(100% - 128px);
    overflow: auto;
}

.mobilenav__inner .menu_close {
    position: absolute;
    top: 0;
    right: -20%;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px;
    cursor: pointer;
    width: 20%;
    height: 100%;
    cursor: pointer;
}

.mobilenav__inner .menu_close i {
    font-size: 18px;
    top: 50%;
    left: 0;
    border-radius: 0 40px 40px 0;
    padding: 10px;
    position: absolute;
    background: #1e1e1e;
    border-left: 1px solid #000000;
    color: #fff;
    transform: translateY(-50%);
}

.toplg {
    padding: 0px;
    text-align: center;
    padding-top: 30px;
}

.toplg .logo-mobilenav img {
    max-width: 250px;
    margin: 0 auto;
    max-height: 100px;
}

#mobilenav h3 {
    color: #333;
    font-size: 20px;
    margin-bottom: 0;
    text-align: center;
    padding: 5px 0px;
    background: #d3d3d3;
    margin-top: 10px;
}

#mobilenav .mobile-menu {
    margin: 0;
    padding: 0;
}

#mobilenav .mobilenav__inner>div:not(.toplg) {
    overflow-y: auto;
    height: calc(100% - 128px);
}

#mobilenav li {
    display: block;
    position: relative;
    overflow: auto;
    padding: 0px;
}

#mobilenav li a {
    color: #fff;
    position: relative;
    display: block;
    margin: 0;
    padding: 10px 15px;
    font-size: 14px;
    border-bottom: solid 0px #ddd;
    border-top: solid 1px #333;
    -webkit-transition: all 0.35s linear;
    -moz-transition: all 0.35s linear;
    -o-transition: all 0.35s linear;
    transition: all 0.35s linear;
}

#mobilenav ul.mobile-menu>li>a {
    background: #e1203b;
}

#mobilenav .arrow {
    position: absolute;
    top: 0px;
    right: 0;
    width: 43px;
    height: 43px;
    cursor: pointer;
    text-align: center;
    font-family: "Font Awesome\ 5 Free";
    font-weight: 900;
    line-height: 25px;
    color: #FFF;
    background: rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;
}

#mobilenav .arrow:before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    content: "\f107";
    font-size: 18px;
    left: 43%;
}

#mobilenav ul ul.sub-menu {
    background: #a80023;
}

#mobilenav ul>li.menu-item-has-children.open>.arrow:before {
    content: "\f106";
}

#mobilenav ul.sub-menu {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.panel-overlay {
    opacity: 0;
    filter: alpha(opacity=0);
}

.panel-overlay.active {
    background: #000;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999999;
    min-height: 100vh;
    opacity: 0.6;
    filter: alpha(opacity=35);
    -webkit-transition: opacity 0.2s ease-in-out 0s;
    -moz-transition: opacity 0.2s ease-in-out 0s;
    transition: opacity 0.2s ease-in-out 0s;
}

#showmenu {
    position: absolute;
    top: 12px;
    right: 15px;
    z-index: 5;
}

#hamburger .hamburger {
    margin-left: 10px
}

.hamburger {
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    -webkit-transition-property: opacity, -webkit-filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible
}

.hamburger-box {
    width: 30px;
    height: 24px;
    display: inline-block;
    position: relative
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px
}

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
    width: 30px;
    height: 3px;
    background-color: #000;
    border-radius: 2px;
    position: absolute;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease
}

.hamburger-inner::after,
.hamburger-inner::before {
    content: "";
    display: block
}

.hamburger-inner::before {
    top: -10px
}

.hamburger-inner::after {
    bottom: -10px
}

.hamburger--collapse .hamburger-inner::before {
    -webkit-transition: top .12s .3s cubic-bezier(.33333, .66667, .66667, 1), -webkit-transform .15s cubic-bezier(.55, .055, .675, .19);
    transition: top .12s .3s cubic-bezier(.33333, .66667, .66667, 1), transform .15s cubic-bezier(.55, .055, .675, .19);
    transition: top .12s .3s cubic-bezier(.33333, .66667, .66667, 1), transform .15s cubic-bezier(.55, .055, .675, .19), -webkit-transform .15s cubic-bezier(.55, .055, .675, .19)
}

.hamburger--collapse .hamburger-inner::after {
    top: -20px;
    -webkit-transition: top .3s .3s cubic-bezier(.33333, .66667, .66667, 1), opacity .1s linear;
    transition: top .3s .3s cubic-bezier(.33333, .66667, .66667, 1), opacity .1s linear
}

.hamburger--collapse .hamburger-inner {
    top: auto;
    bottom: 0;
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    -webkit-transition-delay: .15s;
    transition-delay: .15s;
    -webkit-transition-timing-function: cubic-bezier(.55, .055, .675, .19);
    transition-timing-function: cubic-bezier(.55, .055, .675, .19)
}

.hamburger--collapse.is-active .hamburger-inner {
    -webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
    transform: translate3d(0, -10px, 0) rotate(-45deg);
    -webkit-transition-delay: .32s;
    transition-delay: .32s;
    -webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    transition-timing-function: cubic-bezier(.215, .61, .355, 1)
}

.hamburger--collapse.is-active .hamburger-inner::before {
    top: 0;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: top .12s .18s cubic-bezier(.33333, 0, .66667, .33333), -webkit-transform .15s .42s cubic-bezier(.215, .61, .355, 1);
    transition: top .12s .18s cubic-bezier(.33333, 0, .66667, .33333), transform .15s .42s cubic-bezier(.215, .61, .355, 1);
    transition: top .12s .18s cubic-bezier(.33333, 0, .66667, .33333), transform .15s .42s cubic-bezier(.215, .61, .355, 1), -webkit-transform .15s .42s cubic-bezier(.215, .61, .355, 1)
}

.hamburger--collapse.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    -webkit-transition: top .3s cubic-bezier(.33333, 0, .66667, .33333), opacity .1s .27s linear;
    transition: top .3s cubic-bezier(.33333, 0, .66667, .33333), opacity .1s .27s linear
}

.sticky-nav {
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    z-index: 1000;
}

.navbar {
    border: 0px none;
    position: relative;
    min-height: 40px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 0px;
    font-family: Helvetica;
    border-color: #e9e9e9;
    box-shadow: none;
    box-shadow: 0 6px 6px -5px rgba(0, 0, 0, 0.175);
    background: rgba(255, 255, 255, 1);
}

.nav {
    list-style: outside none;
    margin-bottom: 0;
    padding: 0;
}

.navbar-inverse .navbar-toggle {
    border-color: none;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #fff;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
}

.navbar-inverse {
    border-color: none;
    border-style: none;
    border-width: 0px;
    padding: 5px 0;
    border-color: none;
}

.navbar-brand {
    font-family: Helvetica;
    font-size: 26px;
    font-weight: 700;
    height: auto;
    line-height: 32px;
    margin: 0px;
    padding: 0px;
}

.site-title a,
.site-description {
    color: #747474;
    font-weight: normal;
    font-style: italic;
    font-family: Helvetica;
}

.navbar>.container .navbar-brand {}

.navbar-inverse {
    border-bottom: 0;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    padding: 0;
}

.navbar-wrapper {
    position: absolute;
    right: 0;
    left: 0;
    margin-top: 0px;
    z-index: 20;
}

.navbar .navbar-nav>li {
    margin-right: 0px;
    padding: 0;
}

.navbar-default .navbar-nav>li>a {
    font-family: Helvetica;
    font-size: 16px;
    border-radius: 0px;
    transition: all 0.3s ease-in-out 0s;
    font-weight: 600;
    padding: 15px 25px;
    color: #fff;
    text-transform: uppercase;
    border-bottom: solid 0px transparent;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    border-bottom: solid 0px #fff;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover {
    padding: 15px 25px;
    border-radius: 0px;
    color: #fff;
    -webkit-transition: all 300ms ease-out 0s;
    -moz-transition: all 300ms ease-out 0s;
    -o-transition: all 300ms ease-out 0s;
    transition: all 300ms ease-out 0s;
    border-bottom: solid 0px #fdd607;
    background: rgba(0, 0, 0, 0.3);
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border: none;
}

.dropdown-menu {
    padding: 0;
    min-width: 250px;
    border-radius: 0px;
    background: #fff;
    border: 0px;
    animation-duration: 0.5s;
    animation-name: fadeInUp;
    animation-fill-mode: both;
}

.dropdown-menu>ul,
.dropdown-menu>li {
    padding: 0;
    margin: 0;
}

.dropdown-menu>li>a {
    font-family: Helvetica;
    font-size: 14px;
    line-height: 20px;
    transition: all 0.3s ease-in-out 0s;
    letter-spacing: 0.7px;
    white-space: normal;
    color: #333;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
    color: #e1203b;
    background: #f2f2ff;
    border-color: #333;
}

.dropdown-menu>li>a:last-chlid {
    border-bottom: 0px;
    border-bottom: 0;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    text-decoration: none;
    color: #e1203b;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    background: #f2f2ff;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100% !important;
    margin-top: 0px;
    margin-left: 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu .pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.open .dropdown-menu>li>a,
.navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 10px 13px;
    width: 100%;
}

.navbar-right .dropdown-menu {
    left: 0;
    right: 0;
}

.is-sticky .sticky-nav {
    padding: 0px;
    -webkit-animation: fadeInDown 1s both;
    animation: fadeInDown 1s both;
    opacity: 0.7;
}

.is-sticky .navbar-brand {
    transition: all 0.25s ease-out 0s;
    font-size: 22px;
    line-height: 18px;
}

.navbar-toggle {
    border-radius: 0;
}

#CategoryBar {
    margin-bottom: 30px;
}

#CategoryBar .title-categorybar {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    color: #fff;
    text-transform: none;
    padding: 10px 20px;
    line-height: 20px;
    text-align: left;
    background-color: #e1203b;
    font-weight: 600;
    margin: 0;
    display: block;
    width: 100%;
}

#CategoryBar .category-menu {
    margin: 0;
    padding: 0;
    background: #e1e1e1;
}

#CategoryBar li {
    display: block;
    position: relative;
    overflow: auto;
    padding: 0px;
}

#CategoryBar li a {
    color: #333;
    position: relative;
    display: block;
    margin: 0;
    padding: 10px 15px;
    font-size: 14px;
    border-bottom: solid 1px #fff;
    border-top: solid 1px #fff;
    -webkit-transition: all 0.35s linear;
    -moz-transition: all 0.35s linear;
    -o-transition: all 0.35s linear;
    transition: all 0.35s linear;
}

#CategoryBar ul.menu>li>a {
    background: #262d33;
}

#CategoryBar .arrow {
    position: absolute;
    top: 0px;
    right: 0;
    width: 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;
    font-family: "Font Awesome\ 5 Free";
    font-weight: 900;
    line-height: 25px;
    color: #66a0dd;
    background: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;
}

#CategoryBar .arrow:before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    content: "\f107";
    font-size: 18px;
    right: 15px;
}

#CategoryBar ul ul.sub-menu {
    background: #f5f5f5;
}

#CategoryBar ul ul.sub-menu>li>a {
    color: #333;
}

#CategoryBar ul>li.menu-item-has-children.open>.arrow:before {
    content: "\f106";
}

#CategoryBar ul.sub-menu {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
}